{% load static %}
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="/static/bootstrap2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/static/js/html5placeholder.jquery.js" ></script>
    <script type="text/javascript" src="/static/bootstrap2/js/bootstrap.min.js" ></script>
    {% block htmlhead %}
    {% endblock htmlhead %}
</head>
<body>

{% block content %}
{% endblock content %}

</body>
</html>