{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="mainlogo">
			<div class='preface'> The </div>
			<div class='main_text first'>Concept</div>
			<div class='main_text second'>Loft</div>
			<div class='maintag'> Where designs are conceived </div>
		</div>
		<div class="leftbar">
			<a href='/business/'><div class='entrylink'> I am a Business </div></a>
		</div>
		<div class="rightbar">
			<a href='/designers/'><div class='entrylink'> I am a Designer </div></a>
		</div>
	</div>
{% endblock content %}